.appp{
    margin-top: 20px;
}
.countryData{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    padding: 30PX;
    text-align: left;
    background-color: grey;
    border-radius: 20px;
}